
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <a class="navbar-brand">Feel free to contact me or reach me at: </a>
    <a class="btn btn-primary" style="background-color: #3b5998;" href="https://icons.getbootstrap.com/icons/facebook/" role="button">
        <i class="bi bi-facebook"></i>
    </a>

    <a class="btn btn-primary" style="background-color: #046118;" href="https://github.com/NeroGX" role="button">
        <i class="bi bi-github"></i>
    </a>

    <a class="btn btn-primary" style="background-color: #2FA5FF;" href="https://www.linkedin.com/in/joseph-robinson-343099237/" role="button">
        <i class="bi bi-linkedin"></i>
    </a>
</nav>

<div class="copyright" style="background-color: #000">
    <p style="color: white; text-align: center;">2022 Joseph Robinson</p>
    
</div>