<img src="../../assets/Pictures/Joseph Robinson Headshot 2022[144].jpg" width=20%; />
<h1>Joseph Robinson</h1>
<p>Hello. My name is Joseph Robinson. I had started studying Japanese several years ago at OSU.
    I am currently at PerScholas studying Software Engineering. I had always wanted to travel to Japan.
    With that, I had created this project to act as a practice of my programming skills as well as a means
    of making my own travel itinerary. If you ever want to visit these places after looking here, please take a look
    at my contact page and add your name and email there so we can connect! Hope to hear from you soon. 
</p>
<p>おはようございます。僕はジョセフロビンソンと申します。七年前にOSUでに日本号を勉強していて始めたんです。今ソフトウェア工学をペルスコラスで勉強しています。
    
</p>